<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  this is something from the parent component before the app-child
  <app-child></app-child>
  this is something in the parent componenet after the app-child


</div>

<div>
  accessing the template through ViewChild and ElementRef
  <app-view-child-element-ref></app-view-child-element-ref>
</div>

<hr>
app-template-ref-demo
<app-template-ref-demo></app-template-ref-demo>